.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  opacity: 1;
}

.collapsed {
  &.item {
    gap: 0;
  }

  &.item .link {
    opacity: 0;
    transition: opacity 0.2s;
    width: 0;
    height: 0;
  }
}
