.app_dark_theme {
  --bg-color: #060484;
  --inverted-bg-color: #e4e4ee;
  --color-primary: #04ff04;
  --color-secondary: #049604;
  --inverted-color-primary: #0232c2;
  --inverted-color-secondary: #0452ff;
  --accent-color: #ef1010;

  // skeleton
  --skeleton-shadow: #2b2be8;
  --skeleton-color: #1515ad;
}
