.app.dark {
  --bg-color: #060484;
  --inverted-bg-color: #e4e4ee;
  --color-primary: #06b806;
  --color-secondary: #017e01;
  --inverted-color-primary: #1e34f7;
  --inverted-color-secondary: #290595;
}
