.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --color-primary: #0232c2;
  --color-secondary: #0449e0;
  --inverted-color-primary: #04ff04;
  --inverted-secondary-color: #049604;
  --accent-color: #e66e6e;

  // skeleton
  --skeleton-shadow: #fff;
  --skeleton-color: #0003;

  // code
  --code-bg: #fff;
}
