.app_red_theme {
  --bg-color: #fbf4f4;
  --inverted-bg-color: #ff2f2f;
  --color-primary: #ff2f2f;
  --color-secondary: #bd5012;
  --inverted-color-primary: #fbf4f4;
  --inverted-color-secondary: #ff2f2f;
  --accent-color: #ffff2f;

  // skeleton
  --skeleton-shadow: #fff;
  --skeleton-color: #00000033;
}
