.title {
  font: var(--font-xl);
  color: var(--color-primary);
}

.text {
  font: var(--font-l);
  color: var(--color-secondary);
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
