.appLink {
  text-decoration: none;
  color: var(--color-primary);
}

.primary {
  color: var(--color-primary);
}

.inverted {
  color: var(--inverted-color-primary);
}

.active {
  color: var(--accent-color);
}
