.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
  margin-bottom: 20px;
}

.editBtn {
  margin-left: auto;
}

.profileData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
